In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("../data/HR_RAW_DATA.csv",index_col=0)
df

pd.set_option('display.max_columns', None)pd.set_option('display.max_rows', None)

In [ ]:
pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [ ]:
df.info()

In [ ]:
df.head(10)

In [ ]:
df.describe ().T

In [ ]:
df.describe (include="object").T   #

In [ ]:
df.duplicated().sum()

In [ ]:
df["Age"].value_counts() ##Hay valores no numéricos como fifty-eight. Hacer un replace de estos y cambiarlos a números.

In [ ]:
df['Age'] = df['Age'].replace(['fifty_five'], '55') 
df['Age'].value_counts()

In [ ]:
nuevas_columnas = {columna: columna.lower()for columna in df.columns}

df.rename (columns=nuevas_columnas, inplace= True)

df.columns

In [ ]:
# Crear un diccionario con el cambio de edades a valores numéricos
edades_cambio =  {'fifty-five': '55', 'thirty-six': '36', 'forty-seven': '47', 'twenty-four': '24', 'thirty-seven': '37', 'fifty-two': '52', 'fifty-eight': '58', 'twenty-six': '26', 'thirty-one': '31', 'thirty': '30', 'thirty-two': '32'} 


# Reemplazar las edades en la columna "Age" utilizando el diccionario
df['age'] = df['age'].replace(edades_cambio)

# Contar las ocurrencias de cada edad en la columna "Age"
conteo_edades = df['age'].value_counts()

# Imprimir el resultado
print(conteo_edades)

In [ ]:
df['age']=df['age'].apply(pd.to_numeric)

In [ ]:
df.describe().T

In [ ]:
df.info()

In [ ]:
df['attrition'].value_counts()

In [ ]:
df['businesstravel'].value_counts()

In [ ]:
df['businesstravel']=df['businesstravel'].str.replace("-","_")

In [ ]:
df['businesstravel']=df['businesstravel'].replace(np.nan, "desconocido")

df['businesstravel']

In [ ]:
df.rename(columns={"businesstravel": "business_travel"}, inplace=True)

In [ ]:
df.info()

In [ ]:
df['dailyrate'].value_counts()

In [ ]:
df.rename(columns={"dailyrate": "daily_rate"}, inplace=True)
df

In [ ]:
df['daily_rate']=df['daily_rate'].str.replace ("$", "").str.replace (",", ".")
df['daily_rate']

In [ ]:
df['daily_rate'].isnull().sum()

In [ ]:
df['daily_rate']=df['daily_rate'].replace ("nan", np.nan)
df['daily_rate']

In [ ]:
df['daily_rate'].isnull().sum()

In [ ]:
df['daily_rate']=df['daily_rate'].apply(pd.to_numeric)
df['daily_rate']

In [ ]:
df.info()

In [ ]:
df['department'].value_counts()

In [ ]:
df['department']=df['department'].str.lower().str.replace("research & development","research_development").str.replace("human resources", "human_resources")

df['department'].value_counts()

In [ ]:
df['department']=df['department'].replace (np.nan, "desconocido")

In [ ]:
df.info()

In [ ]:
df.rename (columns={"distancefromhome": "distance_from_home", 
                    "educationfield": "education_field", 
                    "employeecount": "employee_count",
                    "employeenumber": "employee_number",
                    "environmentsatisfaction": "environment_satisfaction",
                    "hourlyrate": "hourly_rate", 
                    "jobinvolvement": "job_involvement",
                    "joblevel": "job_level",
                    "jobrole": "job_role",
                    "jobsatisfaction": "job_satisfaction",
                    "maritalstatus": "marital_status",
                    "monthlyincome": "monthly_income",
                    "monthlyrate": " monthly_rate",
                    "numcompaniesworked": "num_companies_worked",
                    "over18": "over_18",
                    "percentsalaryhike": "percent_salary_hike",
                    "performancerating": "performance_rating",
                    "relationshipsatisfaction": "relationship_satisfaction",
                    "standardhours": "standard_hours",
                    "stockoptionlevel": "stock_option_level",
                    "totalworkingyears": "total_working_years",
                    "trainingtimeslastyear": "training_times_last_year",
                    "worklifebalance": "work_life_balance",
                    "yearsatcompany": "years_at_company",
                    "yearsincurrentrole": "years_in_current_role",
                    "yearssincelastpromotion": "years_since_last_promotion",
                    "yearswithcurrmanager": "years_with_curr_manager",
                    "sameasmonthlyincome": "same_as_monthly_income",
                    "datebirth": "date_birth",
                    "roledepartament": "role_departament",
                    "numberchildren": "number_children",
                    "remotework": "remote_work"}, inplace= True)

In [ ]:
df["distance_from_home"].value_counts()
pd.set_option('display.max_rows', 70)

In [ ]:
df["distance_from_home"].value_counts()

In [ ]:
def positive(numero):
    if numero <0:
        return -numero
    else:
        return numero

In [ ]:
df["distance_from_home"]= df["distance_from_home"].apply(positive)

In [ ]:
df.head()

In [ ]:
df["distance_from_home"].describe()

In [ ]:
df[["education", "education_field" ]]
pd.set_option('display.max_rows', 100)

In [ ]:
df[["education", "education_field" ]]

In [ ]:
df["education"].describe()

In [ ]:
df["education"].value_counts()

In [ ]:
df["education_field"].value_counts()

In [ ]:
df["education_field"]=df["education_field"].replace(np.nan, "desconocido")

df["education_field"]

In [ ]:
df["education_field"]=df["education_field"].str.lower().str.replace("research & development","research_development").str.replace("human resources", "human_resources")

df["education_field"].value_counts()

In [ ]:
dict_education= {"Life Sciences":"life_sciences",
                 "Medical"  :"medical",
                 "Marketing": "marketing",
                 "Technical Degree" : "technical_degree",
                 "Other": "other",
                 "Human Resources": "human_resources",
                 "desconocido": "desconocido"}

In [ ]:
df["education_field"]=df["education_field"].map (dict_education)
df["education_field"]

In [ ]:
df.info()

In [ ]:
df.drop("employee_count", axis=1, inplace= True)

In [ ]:
df.info()

In [ ]:

#pd.set_option('display.max_rows', None)
df["employee_number"].value_counts()

In [ ]:
df["employee_number"].value_counts()
df[["attrition","employee_number"]].sort_values(by="employee_number")

In [ ]:
df["employee_number"]==424

In [ ]:
df[df["employee_number"]=="424,0"]

In [ ]:
df.duplicated().index #filas que tienen duplicados

In [58]:
df["environment_satisfaction"].value_counts()

4     460
3     459
1     298
2     297
12      7
35      6
13      6
14      5
24      5
47      5
36      4
48      4
41      4
46      4
42      4
45      3
11      3
22      3
17      3
18      3
20      3
25      3
27      3
37      2
29      2
19      2
38      2
31      2
15      2
16      2
26      1
39      1
10      1
49      1
21      1
28      1
33      1
43      1
Name: environment_satisfaction, dtype: int64