In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("../data/datos_empleados.csv", index_col=0)
df

,age,attrition,business_travel,department,education,education_field,employee_number,environment_satisfaction,gender,job_involvement,...,years_at_company,years_since_last_promotion,years_with_curr_manager,date_birth,remote_work,hourly_rate,daily_rate,distance_from_home,monthly_income,total_working_years
0,51,No,desconocido,desconocido,bachillerato,desconocido,162,1,male,3,...,20,15,15,1972,yes,51,684.0,6.0,19537.0,6
1,52,No,desconocido,desconocido,universidad,life_sciences,259,3,male,2,...,33,11,9,1971,yes,65,699.0,1.0,19999.0,34
2,42,No,travel_rarely,research_development,fp,technical_degree,319,3,male,3,...,22,11,15,1981,yes,58,532.0,4.0,19232.0,22
3,47,No,travel_rarely,desconocido,universidad,medical,1,1,female,3,...,20,5,6,1976,no,82,359.0,2.0,17169.0,5
4,46,No,desconocido,desconocido,bachillerato,technical_degree,2,1,female,4,...,19,2,8,1977,no,45,1319.0,3.0,5361.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1609,36,Yes,travel_rarely,desconocido,eso,life_sciences,967,3,male,2,...,16,3,7,1987,no,51,530.0,3.0,10325.0,11
1610,45,No,non_travel,desconocido,fp,desconocido,972,3,male,3,...,9,0,8,1978,yes,57,805.0,4.0,4447.0,8
1611,39,No,travel_rarely,desconocido,doctorado,desconocido,430,1,male,4,...,8,0,7,1984,yes,41,903.0,10.6,7159.4,9
1612,36,No,non_travel,desconocido,universidad,technical_degree,990,1,male,3,...,7,0,7,1987,yes,84,1229.0,8.0,5308.8,12
1613,46,No,desconocido,desconocido,fp,medical,431,4,male,3,...,8,0,7,1977,no,75,566.0,7.0,10845.0,9

In [4]:
df.columns

Index(['age', 'attrition', 'business_travel', 'department', 'education',
       'education_field', 'employee_number', 'environment_satisfaction',
       'gender', 'job_involvement', 'job_level', 'job_role',
       'job_satisfaction', 'marital_status', 'monthly_rate',
       'num_companies_worked', 'overtime', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'stock_option_level',
       'training_times_last_year', 'work_life_balance', 'years_at_company',
       'years_since_last_promotion', 'years_with_curr_manager', 'date_birth',
       'remote_work', 'hourly_rate', 'daily_rate', 'distance_from_home',
       'monthly_income', 'total_working_years'],
      dtype='object')

employee_number (PK,FK)

Tabla de datos personales: employee_number (PK, FK), age, date_birth, gender, marital_status,distance_from_home, num_companies_worked, total_working_years, education, education_field,

Tabla de valoraciones: employee_number (PK, FK), environment_satisfaction, job_involvement, job_satisfaction, performance_rating, relationship_satisfaction, work_life_balance

Tabla de salarios:employee_number (PK, FK), monthly_rate, percent_salary_hike, hourly_rate, daily_rate, monthly_income

Gestión interna de la empresa: employee_number (PK, FK),attrition, business_travel, department, job_level, job_role, overtime, stock_option_level, training_times_last_year, years_at_company, years_since_last_promotion, years_with_curr_manager, remote_work

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1510 entries, 0 to 1613
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         1510 non-null   int64
 1   attrition                   1510 non-null   object
 2   business_travel             1510 non-null   object
 3   department                  1510 non-null   object
 4   education                   1510 non-null   object
 5   education_field             1510 non-null   object
 6   employee_number             1510 non-null   int64
 7   environment_satisfaction    1510 non-null   int64
 8   gender                      1510 non-null   object
 9   job_involvement             1510 non-null   int64
 10  job_level                   1510 non-null   int64
 11  job_role                    1510 non-null   object
 12  job_satisfaction            1510 non-null   int64
 13  marital_status              1510 non-null   object
 14  monthly_rate                1510 non-null   int64
 15  num_companies_worked        1510 non-null   int64
 16  overtime                    1510 non-null   object
 17  percent_salary_hike         1510 non-null   int64
 18  performance_rating          1510 non-null   float64
 19  relationship_satisfaction   1510 non-null   int64
 20  stock_option_level          1510 non-null   int64
 21  training_times_last_year    1510 non-null   int64
 22  work_life_balance           1510 non-null   int64
 23  years_at_company            1510 non-null   int64
 24  years_since_last_promotion  1510 non-null   int64
 25  years_with_curr_manager     1510 non-null   int64
 26  date_birth                  1510 non-null   int64
 27  remote_work                 1510 non-null   object
 28  hourly_rate                 1510 non-null   int64
 29  daily_rate                  1510 non-null   float64
 30  distance_from_home          1510 non-null   float64
 31  monthly_income              1510 non-null   float64
 32  total_working_years         1510 non-null   int64
dtypes: float64(4), int64(19), object(10)
memory usage: 401.1+ KB